/* Custom styles override */

body {
    background-color: #153f6f;
}

.navbar-fixed-top, .navbar-static-top {
    background: #1e2633;
}

.nav-header {
    background: none;
}

/* ICONOS MENÚ RESPONSIVE */
body.mini-navbar .navbar-default .nav > li > a {
    font-size: 25px;
}
@media(max-width: 800px) {
    .logo-column {
        display: none;
    }    
}



/* LOGO */
.logo-container {
    text-align: center;
}

.logo-column {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 40px;
}

/* CALENDARIO */

.fc-event, .fc-agenda .fc-event-time, .fc-event a {
    background-color: #153F6F;
    border-color: #153F6F;
}

/* BOTONES */
.btn-morado {
    background-color: #688EBD;
}
.btn-gris {
    background-color: #6E757F;
}

/* BAQUETONES DE ESCRITORIO */
.custom1-bg {
    background-color: #649ECC;
    color: #fff;
}
.custom2-bg {
    background-color: #2A4F7B;
    color: #fff;
}
.custom3-bg {
    background-color: #4D5258;
    color: #fff;
}
.custom1-bg a, .custom2-bg a, .custom3-bg a{
    color: #fff;
}