/* Custom styles override */

body {
    background-color: #153f6f;
}

.navbar-fixed-top, .navbar-static-top {
    background: #1e2633;
}

.nav-header {
    background: none;
}


/* Logo */
.logo-container {
    text-align: center;
}

.logo-column {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 40px;
}

/* CALENDARIO */

.fc-event, .fc-agenda .fc-event-time, .fc-event a {
    background-color: #153F6F;
    border-color: #153F6F;
}

/* BOTONES */
.btn-morado {
    background-color: #688EBD;
}
.btn-gris {
    background-color: #6E757F;
}