<link href="/css/jquery.e-calendar.css" rel="stylesheet">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Calendario de citas</h2>
        
    </div>
</div>
<div class="wrapper wrapper-content">
    
    <my-calendar></my-calendar>

</div>

<script src="/js/plugins/jquery.e-calendar.js"></script>
<script>
  $(document).ready(function () {
    $('#minicalendar').eCalendar({
        weekDays: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
        months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        textArrows: {previous: '<', next: '>'},
        eventTitle: 'Calendario',
        url: '',
        events: []
    });
});  
</script>