<link href="/css/jquery.e-calendar.css" rel="stylesheet">

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Calendario de citas</h2>
        
    </div>
</div>
<div class="wrapper wrapper-content" ng-controller="CalendarCtrl">
    <div class="row animated fadeInDown">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Calendario</h5>
                </div>
                <div class="ibox-content">

                    <div id="minicalendar-quitaesto"></div>
                </div>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Crear nueva cita</h5>
                </div>
                <div class="ibox-content">

                    <new-meeting-form template-url="/views/templates/newMeetingFormLittle.html"></new-meeting-form>
                    
                </div>
            </div>
            
        </div>
        <div class="col-lg-9">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Calendario</h5>
                    <div ibox-tools></div>
                </div>

                <div class="ibox-content ui-calendar">
                    <div class="btn-toolbar">
                        <p class="lead">Calendario de citas</p>
                    </div>
                    <div ui-calendar="uiConfig.calendar" calendar="myCalendar1" class="calendar" ng-model="eventSources"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/plugins/jquery.e-calendar.js"></script>
<script>
  $(document).ready(function () {
    $('#minicalendar').eCalendar({
        weekDays: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
        months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        textArrows: {previous: '<', next: '>'},
        eventTitle: 'Calendario',
        url: '',
        events: []
    });
});  
</script>