<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Conversaciones</h2>

        <ol class="breadcrumb">
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a>Conversaciones</a>
            </li>
            <li class="active">
                <strong>Conversaciones recientes</strong>
            </li>
        </ol>
        
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight" ng-controller="ChatsCtrl as vm">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                
                <div class="ibox-title">
                    <h2>Conversaciones</h2>
                </div>

                <div class="ibox-content">
                    
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-8">
                            <div class="input-group">
                                <input type="text" placeholder="Buscar conversación" class="input form-control">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn btn-success"> <i class="fa fa-search"></i> Buscar</button>
                                </span>
                            </div>        
                        </div>
                    </div>
                    

                    <div class="">


                        <div class="full-height-scroll" full-scroll>
                            <div class="table-responsive">
                                <table class="table table-hover footable" data-page-size="5">




                                    <thead>
                                        <tr>
                                            
                                            <th style="width: 40px;" data-sort-ignore="true"></th>
                                            <th >Cliente</th>
                                            <th data-sort-initial="descending" style="width: 150px;" data-hide="phone,tablet">Fecha</th>
                                            <th style="width: 150px;" data-hide="phone,tablet">Hora</th>
                                            <th style="width: 100px;" >Mensajes</th>
                                            <th style="width: 100px;" data-hide="phone,tablet">Destacado</th>
                                            <th data-sort-ignore="true"></th>
                                        </tr>
                                    </thead>




                                    <tbody>


                                        <tr ng-repeat="item in vm.chats">
                                            
                                            <td class="client-avatar"><img alt="image" src="{{item.client.photo}}"> </td>
                                            <td><a class="client-link azul2" ui-sref="chats.view({id: item.id})">{{item.client.name}} {{item.client.lastName}}</a><br/><small class="noresponsive">{{item.lastMessage}}</small></td>
                                            <td>{{item.date}}</td>
                                            <td>{{item.time}}</td>
                                            <td align="center">
                                                <span ng-if="item.messagesUnread > 0"><i class="fa fa-envelope" style="font-size: 1.5em;"></i> {{item.messagesUnread}}</span>
                                                <span ng-if="item.messagesUnread < 1"><i class="fa fa-envelope-o" style="font-size: 1.5em;"></i></span>
                                            </td>
                                            <td align="center">
                                                <span ng-if="item.star > 0"><i class="fa fa-star-o" style="font-size: 2.0em; color: #E0E0E0;"></i></span>
                                                <span ng-if="item.star < 1"><i class="fa fa-star" style="font-size: 2.0em; color: orange;"></i></span>
                                            </td>
                                            <td>

                                                <button type="button" class="btn btn-outline btn-success noresponsive"><i class="fa fa-edit"></i> Editar</button>
                                                <button type="button" class="btn btn-outline btn-success noresponsive" ui-sref="chats.archive({id: item.id})"><i class="fa fa-tasks"></i> Archivar</button>

                                                <button type="button" class="btn btn-outline btn-success responsive"><i class="fa fa-edit"></i> </button>
                                                <button type="button" class="btn btn-outline btn-success responsive" ui-sref="chats.archive({id: item.id})"><i class="fa fa-tasks"></i> </button>
                                                

                                            </td>
                                        </tr>

                                    </tbody>

                                    <tfoot class="hide-if-no-paging">
                                        <tr>
                                            <td colspan="8" align="center">
                                              <ul class="pagination"></ul>
                                          </td>
                                      </tr>
                                  </tfoot>


                              </table>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>





  </div>
</div>

