<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div style="margin-top: 70px;">
            <img src="/img/logo-login.png" alt="Morabanc" style="max-width: 100%;">    
        </div>
        
        <p>Bienvenid@ a la herramienta de gestión de citas y chats de DigitalBanking</p>
        <form class="m-t" role="form" action="#">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Usuario" required="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Contraseña" required="">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b" style="background: #153F6F">Login</button>

            <a ui-sref="forgot_password"><small>¿Olvidó su contraseña?</small></a>
            
        </form>
        
    </div>
</div>