<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Citas</h2>

        <ol class="breadcrumb">
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a>Citas</a>
            </li>
            <li class="active">
                <strong>Citas pendientes</strong>
            </li>
        </ol>
        
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight" ng-controller="MeetingsCtrl as vm">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                

                <div class="ibox-title">
                    <h2>Citas pendientes</h2>
                </div>


                <div class="ibox-content">
                    
                    
                    
                    <div class="">


                        <div class="full-height-scroll" full-scroll>
                            <div class="table-responsive">
                                <table class="table table-hover footable" data-page-size="5">




                                    <thead>
                                        <tr>
                                            
                                            <th style="width: 40px;" data-sort-ignore="true"></th>
                                            <th>Cliente</th>
                                            <th style="width: 150px;" data-sort-initial="descending">Fecha</th>
                                            <th style="width: 150px;" data-hide="phone,tablet">Hora</th>
                                            <th style="" data-sort-ignore="true" data-hide="phone,tablet">Contacto</th>
                                            <th style="" data-sort-ignore="true" data-hide="phone,tablet"></th>
                                            <th data-sort-ignore="true">Asignar</th>
                                            <th data-sort-ignore="true">Chat</th>
                                        </tr>
                                    </thead>




                                    <tbody>


                                        <tr ng-repeat="item in vm.meetings">
                                            
                                            <td class="client-avatar"><img alt="image" src="{{item.client.photo}}"> </td>
                                            <td><a class="client-link" ui-sref="meetings.edit({id: item.id})">{{item.client.name}} {{item.client.lastName}}</a><br/><small>{{item.subject}}</small></td>
                                            <td>{{item.date}}</td>
                                            <td>{{item.time}}</td>
                                            <td>Oficina: </td>
                                            <td>{{item.client.contact_address}}</td>
                                            <td>

                                                <button type="button" class="btn btn-w-m btn-success noresponsive"><i class="fa fa-check"></i> Asignar cita</button>
                                                <button type="button" class="btn btn-success responsive"><i class="fa fa-check"></i></button>

                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-gris noresponsive"><i class="fa fa-comments-o"></i> Chat</button>
                                                <button type="button" class="btn btn-gris responsive"><i class="fa fa-comments-o"></i></button>
                                            </td>
                                        </tr>

                                    </tbody>

                                    <tfoot class="hide-if-no-paging">
                                        <tr>
                                            <td colspan="7" align="center">
                                              <ul class="pagination"></ul>
                                            </td>
                                        </tr>
                                    </tfoot>


                              </table>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>





  </div>
</div>


<script>
    function showMessages() {
        var txt = 'Tiene 3 nuevas conversaciones. <br/> <a href="">Click aquí para ver</a>';
        
        $.toaster({ 
            priority : 'chat', 
            title : 'NUEVA CONVERSACIÓN', 
            message : txt,
            icon: 'fa-comments'
        });

        $.toaster({ 
            priority : 'calendar', 
            title : 'NUEVA CONVERSACIÓN', 
            message : txt,
            icon: 'fa-calendar'
        });

        $.toaster({ 
            priority : 'message', 
            title : 'NUEVA CONVERSACIÓN', 
            message : txt,
            icon: 'fa-envelope-o'
        });

    }

    setTimeout(showMessages, 1000);    

    
    
</script>

