<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Citas</h2>

        <ol class="breadcrumb">
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a>Citas</a>
            </li>
            <li class="active">
                <strong>Modificar cita</strong>
            </li>
        </ol>
        
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight" ng-controller="MeetingsCtrl">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">

                <div class="ibox-title">
                    <h2>Modificar cita</h2>
                </div>


                <div class="ibox-content">

                    <edit-meeting-form></edit-meeting-form>
                
                </div>
            </div>
        </div>
    </div>

    

    <my-calendar></my-calendar>

</div>


