<div class="row animated fadeInDown">
    <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Calendario</h5>
            </div>
            <div class="ibox-content">

                <div id="minicalendar"></div>
            </div>
        </div>

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Crear nueva cita</h5>
            </div>
            <div class="ibox-content">

                <new-meeting-form template-url="/views/templates/newMeetingFormLittle.html"></new-meeting-form>

            </div>
        </div>

    </div>
    <div class="col-lg-9">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Calendario</h5>
                <div ibox-tools></div>
            </div>

            <div class="ibox-content ui-calendar">
                <div class="btn-toolbar">
                    <p class="lead">Calendario de citas</p>
                </div>
                <div ui-calendar="vm.uiConfig.calendar" calendar="myCalendar1" class="calendar" ng-model="vm.eventSources"></div>
            </div>
        </div>
    </div>
</div>

<script src="/js/plugins/jquery.e-calendar.js"></script>
<script>
  $(document).ready(function () {
    $('#minicalendar').eCalendar({
        weekDays: ['Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab', 'Dom'],
        months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        textArrows: {previous: '<', next: '>'},
        eventTitle: 'Calendario',
        url: '',
        events: []
    });
});  
</script>