

<nav class="navbar-default navbar-static-side" role="navigation">
    
    <div class="logo-container">
        <img class="logo-column" src="/img/logo.png" >
    </div>

    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <img alt="image" class="img-circle" src="img/profile_small.jpg"/>
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">David Williams</strong>
                             </span>
                                
                            </span>
                    </a>
                    
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            


            <li ui-sref-active="active">
                <a ui-sref="app.calendar"><i class="fa fa-table"></i> <span class="nav-label">Calendario</span> </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="app.meetings"><i class="fa fa-edit"></i> <span class="nav-label">Citas</span> </a>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="app.chats"><i class="fa fa-laptop"></i> <span class="nav-label">Chat</span> </a>
            </li>

            

        </ul>

    </div>
</nav>